[Unit]
Description=discord

[Service]
ExecStart=/usr/bin/node /root/discord/index.js
Restart=always
User=root
# Note RHEL/Fedora uses 'nobody', Debian/Ubuntu uses 'nogroup'
Group=root
Environment=PATH=/usr/bin:/usr/local/bin
Environment=NODE_ENV=production
WorkingDirectory=/root/discord

[Install]
WantedBy=multi-user.target
