[Unit]
Description=discord

[Service]
ExecStart=/root/discord-lite/main server
Restart=always
User=root
Group=root
Environment=PATH=/usr/bin:/usr/local/bin
WorkingDirectory=/root/discord-lite

[Install]
WantedBy=multi-user.target
